<div class="container w-100">
    <div class="row w-100 mt-5">
      <div class="col-md-12">
          <h1 class="text-center"> Seja Bem Vindo ao meu Blog</h1>
      </div>  
    </div>
    <div class="row w-100 mt-4 mb-4">
        <div class="col-md-12">
            <p class="text-justify text-monospace">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus vel aliquam atque modi. Dolores magnam, sint debitis nam earum saepe recusandae sit? Ipsa vitae quos, labore veritatis nemo recusandae neque?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, nam sit exercitationem placeat molestias omnis praesentium unde quasi, iure, et hic debitis beatae delectus! Esse eos vitae officiis facilis provident?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, laborum at aliquid animi quam debitis architecto vitae, et nulla dolorem mollitia consequatur fuga veniam nam, unde accusantium doloribus ullam quaerat.
            </p>
        </div>
    </div>
</div>
    <div class="parallax"></div>

    <div class="row w-100 mt-5 mb-5">
        <div class="col-md-12 w-100 d-flex justify-content-center">
            <button class="btn btn-outline-dark text-uppercase font-weight-bold">Ver o feed</button>
        </div>

    </div>
