<div class="card border-0" style="width: 18rem;">
    <div class="d-flex justify-content-center">
        <img class="card-img-top rounded-circle w-75" src="https://i.imgur.com/7xg3MHG.jpg" alt="Imagem de capa do card">
    </div>

    <div class="card-body">
      <h5 class="card-title text-center text-monospace">Helder Souza</h5>
      <p class="card-text text-center text-monospace">Desenvolvedor Web Java Jr .</p>
     
      <a href="https://www.linkedin.com/in/helder-souza-7b3591183/" target="_blank" class="btn btn-outline-info mb-3 d-flex justify-content-center">LinkedIn</a>
      <a href="https://github.com/Helder-Souza"  target="_blank" class="btn btn-outline-dark d-flex justify-content-center">GitHub</a>
    </div>
  </div>
