<div class="card border-0" style="width: 18rem;">
    <div class="d-flex justify-content-center">
        <img class="card-img-top rounded-circle w-75" src='{{imagemUser}}' alt="Imagem de capa do card">
    </div>

    <div class="card-body">
      <h5 class="card-title text-center text-monospace">{{nomeUser}}</h5>
     
      <a href="{{linkedin}}" class="btn btn-outline-info mb-3 d-flex justify-content-center" target="_blank">LinkedIn</a>
      <a href="{{github}}"  target="_blank" class="btn btn-outline-dark d-flex justify-content-center">GitHub</a>
    </div>
  </div>
