@import url('https://fonts.googleapis.com/css2?family=Faster+One&display=swap');

h3 {
    font-size: 23pt;
    font-family:'Faster One', cursive;
    color: #8B4513;
}

.btn-pub {
    border-color: #8B4513;
    color: #8B4513;
}
.btn-pub:hover {
    background-color: #8B4513;
    color: white;
}